* {
  box-sizing: border-box;
}

.earth{
  width: 600px;
  padding: 10px;
  outline: 1px solid #ccc;
  position: relative;
  z-index: 1;
}
.moon{
  position: absolute;
  top: 170px;
  left: 170px;
  -webkit-animation: linear 5s orbita infinite;
  z-index: 0;
}

@-webkit-keyframes orbita{
  0%{}
  24%{z-index: 0;}
  25%{ 
    left: 380px; top: 130px; z-index: 2;
  }
  50%{
    width: 328px;
  }
  74%{z-index: 2;}

  75%{
    top: 300px; left: 40px;z-index: 0;
  }
  100%{width: 72px; transform: rotate(360deg);}
}

.body-2{
  margin: 0;
  padding: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: black;
}
.center{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.ring{
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: ring 2s linear infinite;
}
@keyframes ring{
  0%{
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px orangered;
  }
  50%{
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px green;
  }
  80%{
    transform: rotate(160deg);
    box-shadow: 1px 5px 2px blue;
  }
  100%{
    transform: rotate(190deg);
    box-shadow: blueviolet;
  }
}

.ring:before{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px  rgba(255, 255, 255, .3);
}
span{
  color: #737373 ;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  animation: text 3s ease-in-out infinite;
}
@keyframes text{
  50%{
    color: black;
  }
}

.body-3{
  background:palegoldenrod;
  font-family: sans-serif;

}
.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.text{
  color: black;
  margin-bottom: 25px;
  font-size: 15px;
  letter-spacing: 2px;
}
.loading{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading .line-box{
  padding:0.5px;
  width: 35%;
  height: 20px;
  background: #737373;
  border: 2px solid red;
  border-radius: 20px;
}
.loading .line-box .line{
  height: 20px;
  border-radius: 20px;
  background: red;
  animation: loading 4s infinite cubic-bezier(0,0,0,0);
}

@keyframes loading{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

.dws{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);

}
.butt{
  border: 3px solid #267591;
  font-size: 30px;
  color:#218284;
  text-decoration: none;
  text-transform: uppercase;
  width: 250px;
  height: 60px;
  display: block;
  text-align: center;
  line-height: 60px;
  font-family: Arial, sans-serif;
  position: relative;
  transition: .5s;
  overflow: hidden;
}
.butt::before,
.butt::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #218284;
  top: 0;
  left: -100%;
  opacity: .5;
  transition: .3s;
  z-index: -1;
}
.butt::after{
  opacity: 1;
  transition-delay: .2s;
}
.butt:hover{
  color: #fff;
}
.butt:hover::before,
.butt:hover::after{
  left: 0;
}

